@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #1f2937;
    --txt-color: #F9FAF8;
    --link-txt: #E5E7EB;
    --header-logo-txt: #F9FAF8;
    --btn-clr: #3882F6;
    --quote-sectionBg: #E5E7EB;
    --quote-txt: #1F2937;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--dark-bg);
    height: 10vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    width: min(10%, 40px);
    height: auto;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--link-txt);
}

header nav {
    width: 10%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

.showcase-1 {
    padding: 10vh 0;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
}

.showcase-1 .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.showcase-1 .text h2 {
    color: var(--header-logo-txt);
}

.showcase-1 .text p {
    width: 40%;
    color: var(--quote-sectionBg);
}

.showcase-1 .text button {
    cursor: pointer;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-clr);
    color: var(--txt-color);
}

.showcase-1 img {
    width: min(50%, 400px);
    height: auto;
}

.showcase-2 {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.showcase-2 .images {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.showcase-2 .images .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

.showcase-2 .images .container img {
    border-radius: 10px;
    border: 5px solid var(--btn-clr);
    width: min(20vw, 400px);
    height: auto;
}
.testimonial-section{
    background-color: var(--link-txt);
    padding: 10vh ;
    text-align: center;
}
.testimonial-section p{
    font-style: italic;
    font-size: 2.5rem;
}
.testimonial-section h3{
    text-align: right;
}
.sign-up-section{
    padding: 10vh 20vw;
}
.sign-up-container{
    background-color: var(--btn-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
}
.sign-up-container .text h2{
    color: var(--header-logo-txt);
}
.sign-up-container .text p{
    color: var(--quote-sectionBg);
}
.sign-up-container button{
    width:max(20%,70px); 
    padding: 10px;
    border: 2px solid var(--header-logo-txt);
    background-color: var(--btn-clr);
    color:var(--txt-color);
    cursor: pointer;
    border-radius: 5px;
}
@media screen and (max-width: 760px) {
    header {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header nav {
        width: 50%;
    }

    .showcase-1 {
        display: flex;
        gap: 10px;
        padding: 20px 20px;
    }

    .showcase-1 .text p {
        width: 100%;
    }
}